#navbar-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; 
    padding: 1rem 2rem; 
    margin-top: 20px;
}
.nav-links {
    display: flex;
    gap: 3rem   ; 
}
.nav-links a {
    text-decoration: none;
    color:#353535;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: color 0.5s ease;
    padding: 7px 0px
    
}
.nav-links a:hover {
    border-bottom: 2px solid #dc3545; 
    transition: border-bottom 0.7s ease;
}
.nav-icons {
    display: flex;
    gap: 1rem;
}
.nav-button button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.nav-button button:hover {
    background-color: #c82333;
}